	<style>
	h3 a{
        color: black;
      }
      </style>
	<div class="container">
		<!-- Header -->
		<header>
			<div class="row">
				<div class="col-md-8"><h3><a href="#/">flipped.</a></h3></div>
				<div class="col-md-4" style="padding-top: 30px">
					<div class="btn-group">
                  <a type="button" class="btn btn-primary btn-lg" href="#/signup/student">Student sign up.</a>
                  <a type="button" class="btn btn-primary btn-lg" href="#/signup/teacher">Teacher sign up.</a>
                </div>
				</div>
			</div>
		</header>
      <div class="gap">
        Let's turn things on their head.<br>
        <a class="btn btn-lg btn-primary btn-login" href="#/login">Login.</a>
      </div>
	</div>