      <style>
      h3 a{
        color: black;
      }
      header{
        margin-top: 30px;
      }
      form{
        min-height: 400px;
      }
      .input-lg{
        margin-top: 30px;
      }
      .btn-lg{
        margin-top: 30px;
        width: 100%;
      }
    </style>
   <div class="container">
    <!-- Header -->
    <header>
     <div class="row">
      <div class="col-md-9"><h3><a href="#/">flipped.</a></h3></div>
      </div>
    </header>
    <!-- Start of Content -->
    <content>
      <h1>Hello. Welcome back.</h1>
      <form>
        <input type="text" class="form-control input-lg" placeholder="Username" name="username">
        <input type="password" class="form-control input-lg" placeholder="Password" name="password">
        <button class="btn btn-lg btn-primary">Enter.</button>
      </form>
    </content>
  </div>
  <!-- End of container -->